<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidsafety">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Covid Safety"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".beds_website"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Guidelines_website"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activecase_website"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity android:name=".slidingpages" />
        <activity
            android:name=".browseractivities"
            android:screenOrientation="portrait"
            android:theme="@style/darkTheme" />
        <activity
            android:name=".page9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page2"
            android:screenOrientation="portrait" />
    </application>

</manifest>